
.track-size {

  --range-padding-color: var(--range-inactive);

  &.rangeSlider {
    
    height: var(--track-width, 0.5em);
    border-radius: calc((var(--track-width, 0.5em) / 2) * var(--track-radius, 1));
    box-shadow: var(--track-padding, 0) 0 0 0 var(--slider), calc(var(--track-padding, 0) * -1) 0 0 0 var(--slider);

    &.rsVertical {
      height: auto;
      width: var(--range-width, 0.5em);
    }

    .rangeHandle {
      top: 50%;
    }

    .rangeLimit {
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
    }

    &.rsVertical .rangeLimit {
      width: 100%;
      height: auto;
    }
    
    .rangeBar {
      height: var(--range-width, 0.5em);
      border-radius: calc((var(--range-width, 0.5em) / 2) * var(--range-radius, 1));
      top: 50%;
      transform: translateY(-50%);
      box-shadow: var(--range-padding, 0) 0 0 0 var(--range-padding-color), calc(var(--range-padding, 0) * -1) 0 0 0 var(--range-padding-color);
    }
    
    &.rsVertical .rangeBar {
      height: calc(var(--slider-length) * (var(--range-size) / 100 * 1px));
      width: var(--range-width);
      transform: translateX(-50%);
      left: 50%;
      top: auto;
      box-shadow:  0 var(--range-padding, 0) 0 0 var(--range-padding-color),  0 calc(var(--range-padding, 0) * -1) 0 0 var(--range-padding-color);
    }

    &.rsFocus {
      --range-padding-color: var(--range);
    }
  }

  &.rangeSlider,
  &.rangeSlider.rsPips,
  &.rangeSlider.rsPipLabels {
    margin-inline: calc(var(--track-padding, 0));
  }
}