.DS_Store
.astro
node_modules
build/
/docs
/tests/**/build
/tests/**/dist
/tests/**/node_modules
/.svelte-kit
/package
*/routes/isolate
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

PENDING_CHANGES.md
CHANGELOG.md
yarn-error.log
npm-error.log

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
