.handle-rectangle {
  --offset-inline: var(--handle-offset, 0em);
  --offset-block: var(--handle-offset-block, 0em);
  --rotate: var(--handle-rotate, 0deg);

  --radius: 4px;
  --offset: 3px;

  &.rangeSlider {
    * {
      box-sizing: border-box;
    }

    .rangeHandle {
      width: calc(1.4 * var(--handle-size, 1em));
      height: auto;
      aspect-ratio: 1/1.5;
      top: 50%;
      .rangeNub {
        background-color: var(--slider);
        border: 2px solid var(--handle-inactive);
        transform: translateY(calc(var(--offset-block))) rotate(var(--rotate)) !important;
        border-radius: var(--radius) !important;
      }
      &.rsActive .rangeNub {
        background-color: color-mix(in srgb, var(--slider) 20%, white);
        border: 2px solid var(--handle-focus);
      }
    }

    &.rsVertical .rangeHandle {
      left: 50%;
      top: auto;
      aspect-ratio: 1.5/1;
      width: auto;
      height: calc(1.4 * var(--handle-size, 1em));
      .rangeNub {
        transform: translateX(calc(var(--offset-block))) rotate(calc(var(--rotate))) !important;
      }
    }

    /* left-rectangle on range */
    &.rsRange .rangeHandle:nth-of-type(1) .rangeNub,
    &.rsRange.rsMax .rangeHandle:nth-of-type(1) .rangeNub {
      transform: translateX(var(--offset-inline)) translateY(var(--offset-block))
        rotate(calc(0deg + var(--rotate))) !important;
    }

    /* right-rectangle on range */
    &.rsRange .rangeHandle:nth-of-type(2) .rangeNub,
    &.rsRange.rsMin .rangeHandle:nth-of-type(1) .rangeNub {
      transform: translateX(calc(var(--offset-inline) * -1)) translateY(calc(var(--offset-block)))
        rotate(calc(-0deg - var(--rotate))) !important;
    }

    /* left-rectangle on range (vertical) */
    &.rsVertical.rsRange .rangeHandle:nth-of-type(1) .rangeNub,
    &.rsVertical.rsRange.rsMax .rangeHandle:nth-of-type(1) .rangeNub {
      transform: translateY(var(--offset-inline)) translateX(var(--offset-block))
        rotate(calc(-0deg + var(--rotate))) !important;
    }

    /* right-rectangle on range (vertical) */
    &.rsVertical.rsRange .rangeHandle:nth-of-type(2) .rangeNub,
    &.rsVertical.rsRange.rsMin .rangeHandle:nth-of-type(1) .rangeNub {
      transform: translateY(calc(var(--offset-inline) * -1)) translateX(calc(var(--offset-block)))
        rotate(calc(0deg - var(--rotate))) !important;
    }
  }

  &.rsDark .rangeHandle.rsActive .rangeNub {
    background-color: color-mix(in srgb, var(--slider) 50%, black);
  }
}
