$color_1: var(--theme-text-light);
$color_2: var(--theme-text);
$font-family_1: inherit;
$background-color_1: var(--theme-bg);
$border-color_1: var(--theme-text-lighter);
$border-color_2: var(--theme-text-light);

.language-select {
  flex-grow: 1;
  width: 48px;
  box-sizing: border-box;
  margin: 0;
  padding: 0.33em 0.5em;
  overflow: visible;
  font-weight: 500;
  font-size: 1rem;
  font-family: $font-family_1;
  line-height: inherit;
  background-color: $background-color_1;
  border-color: $border-color_1;
  color: $color_1;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  outline: 0;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: border-color, color;
  -webkit-font-smoothing: antialiased;
  padding-left: 30px;
  padding-right: 1rem;
}
.language-select-wrapper {
  .language-select {
    &:hover {
      color: $color_2;
      border-color: $border-color_2;
    }
    &:focus {
      color: $color_2;
      border-color: $border-color_2;
    }
  }
  color: $color_1;
  position: relative;
  > svg {
    position: absolute;
    top: 7px;
    left: 10px;
    pointer-events: none;
  }
}
@media (min-width: 50em) {
  .language-select {
    width: 100%;
  }
}
