
#reverse-pips .rangePips {
  bottom: auto;
  top: -1em;
}
#reverse-pips .pip {
  background: rgb(198, 187, 224);
  top: auto;
  bottom: 0.25em;
  width: 2px;
  transform: translateX(-1px);
  transition-duration: 0.5s;
  opacity: 0.7;
}
#reverse-pips .pip:nth-child(5n+1) {
  height: 0.8em;
  opacity: 0.9;
}
#reverse-pips .pip:nth-child(5n),
#reverse-pips .pip:nth-child(5n+2) {
  height: 0.65em;
}
#reverse-pips .pip.selected {
  background: rgb(255, 0, 157);
  transition-duration: 0.05s;
  opacity: 1;
}

/***********************************/

#color-pips {
  height: 13px;
}
#color-pips .rangeBar {
  height: 13px;
}
#color-pips .rangeHandle {
  top: 7px;
  height: 30px;
  width: 30px;
}
#color-pips .rangeHandle .rangeNub {
  border: 3px solid rgb(246, 252, 255);
}
#color-pips .rangePips {
  bottom: -3px;
  z-index: 1;
}
#color-pips .rangePips .pip {
  background: rgb(246, 252, 255);
  border-radius: 10px;
  width: 5px;
  height: 5px;
  transform: translateX(-50%);
}
#color-pips .rangePips .pip.in-range {
  background: rgb(0, 0, 0);
  opacity: 0.35;
}