---


---

<section class="recipe-wrapper">
  <ul class="recipe-list">
    <slot />
  </ul>
</section>


<style>
  .recipe-wrapper {
    container: recipes / inline-size;

  }
  .recipe-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    gap: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
  }
</style>