.slider-wrapper {

  & .slider-actions {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
  }

  & .slider-actions button {
    position: absolute;
    top: 0;
    translate: -50% -50% 0.01px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    font-size: 14px;
    box-shadow: none;
    opacity: 0.1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1!important;
    }
  }

  &:has(.rsFocus) .slider-actions button,
  &:hover .slider-actions button {
    opacity: 0.5;
  }

}