

body,html {
    padding: 0;
    margin: 0;
}
main {
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
}
@media screen and ( min-width: 600px ) {
    main {
        padding: 50px;
    }
}
input {
    min-width: 50px;
    padding: 5px 5px;
}
input[type=checkbox] { 
    padding: 0; 
    margin: 0; 
    display: inline-block;
    min-width: auto;
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px dashed rgb(125, 129, 138);
    margin: 50px 0;
}

.rangeSlider.rangeSlider {
    margin: 60px;
}

h2,h3,h4 {
    margin: 30px 0 10px;
}

h2 + .rangeSlider.rangeSlider, h3 + .rangeSlider.rangeSlider, h4 + .rangeSlider.rangeSlider {
    margin-top: 10px;
}

.pipVal-prefix {
    color: coral;
}

.pipVal-suffix {
    color: blueviolet;
}