/* styles for all pips */
#circles .rangePips .rsPip {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--handle-focus);
  transform: translate3d(-50%, 0, 0.1px) scale(0.1);
  opacity: 0.9999;
  will-change: transform opacity;
}

#circles .rsPipVal {
  opacity: 0;
}

/* styles for the selected pip */
#circles .rangePips .rsPip.rsSelected {
  transform: translate3d(-50%, 6px, 0.1px) scale(0.8);
}

#circles .rsPip.rsSelected .rsPipVal {
  opacity: 1;
  transition-duration: 0s;
}

/* styles for the pips directly after the selected pip */
#circles .rangePips .rsPip.rsSelected + * {
  transform: translate3d(calc(-50% + 2px), 4px, 0.1px) scale(0.6);
}

#circles .rangePips .rsPip.rsSelected + * + * {
  transform: translate3d(calc(-50% + 2px), 2px, 0.1px) scale(0.4);
}

#circles .rangePips .rsPip.rsSelected + * + * + * {
  transform: translate3d(calc(-50% + 1px), 1px, 0.1px) scale(0.2);
}

/* styles for the pips directly before the selected pip */
#circles .rangePips .rsPip:has(+ .rsSelected) {
  transform: translate3d(calc(-50% - 2px), 4px, 0.1px) scale(0.6);
}

#circles .rangePips .rsPip:has(+ * + .rsSelected) {
  transform: translate3d(calc(-50% - 2px), 2px, 0.1px) scale(0.4);
}

#circles .rangePips .rsPip:has(+ * + * + .rsSelected) {
  transform: translate3d(calc(-50% - 1px), 1px, 0.1px) scale(0.2);
}

/* hide the focus ring when hovering */
.rangeSlider.rsHoverable:not(.rsDisabled) .rangeHandle::before {
  display: none;
  box-shadow: none;
}
