@import url('https://fonts.bunny.net/css?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

/* Here we target specific pips and show them,
  which was the imaginary requirement of the slider design */

#future .rsPip[data-val='75000'],
#future .rsPip[data-val='250000'],
#future .rsPip[data-val='750000'],
#future .rsPip[data-val='925000'] {
  display: block;
}

#future .rsPip[data-val='75000'] .rsPipVal,
#future .rsPip[data-val='925000'] .rsPipVal {
  top: -2.25em;
  transform: translateX(-20%);
}

#future .rsPip[data-val='925000'] .rsPipVal {
  transform: translateX(-80%);
}

/* Range Slider / Bar customization */

#future.rangeSlider {
  font-family: 'Mohave', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-inline: 100px;
  --handle-focus: limegreen;
  --float-text: black;
  height: 3px;
  background: black;
}

#future .rangeBar {
  height: 5px;
  top: -1px;
  background: limegreen;
}

/* Pips customization */

#future .rsPip {
  display: none;
}

#future .rsPip {
  background: none;
  top: 0;
  height: 1px;
}

#future .rsPip::before {
  content: '';
  position: absolute;
  background: black;
  height: 1em;
  width: 1px;
  top: -0.5em;
  transform: translateY(-2px) translateX(-1px) rotate(10deg);
}

#future .rsPip.first,
#future .rsPip.last {
  display: block;
  top: 0;
  background: transparent;
}

#future .rsPipVal {
  font-size: 14px;
}

#future .rsPip--first .rsPipVal {
  top: 0;
  left: -1em;
  transform: translateX(-100%) translateY(-50%);
  text-align: right;
}

#future .rsPip--last .rsPipVal {
  top: 0;
  right: -1em;
  transform: translateX(100%) translateY(-50%);
  text-align: left;
}

#future .rsPip.rsSelected .rsPipVal {
  opacity: 0;
}

/* Floats / Handles customization */

#future .rangeHandle {
  height: 7px;
  top: 1px;
}

#future .rangeNub {
  transform: none;
  background: lime;
  box-shadow: 0 0 0px 2px black;
}

#future .rangeFloat {
  background: linear-gradient(
    to right,
    rgb(240, 241, 245, 0.25),
    rgb(240, 241, 245, 1) 20% 80%,
    rgb(240, 241, 245, 0.25)
  );
  top: -1.5em;
  padding: 0.1em 1em;
  line-height: 1;
  height: 1lh;
  font-weight: 600;
  font-size: 1.25em;
}
